<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="stylesheets/test.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>
    <script src="js/d3pie.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/test.js"></script>
</head>
<body>
    <h2>D3JS Simple JSON SVG barchart Horizontal with Axis</h2>
    <i>using simple JSON data</i><br/>taken from <a href="http://bost.ocks.org/mike/bar/3/">http://bost.ocks.org/mike/bar/3/</a> <br/><br/>
    <div id="chart"></div>
</body>


</html>