#mapid { height: 100%; }

/*#testText {
	position:relative;
	z-index:1000;	
}*/
#sidebar{
    float: left;
    width: 30%;
    height: 20px;
    margin-right: 8px;
}
#mapid {
    margin-left: 108px;
}​