body {
    font-family: "Roboto_Thin", Roboto-Thin;
    font-size: 16px; 
    font-size: 1.5vw;
    line-height: 1.42857143;
    font-weight: 100;
    color: #fff;
    /*background-image: url("../js/images/coffeeoriginal.jpg");*/
    background-size: 103% 112%;
    background-repeat: no-repeat;
    padding-top: 80px;
}

#header-container{
    background-image: url("../js/images/coffeeoriginal.jpg");

}

/*total width of navbar*/
@media (min-width:1200px) {
    .container {
        width: 100%;
    }
}    

/*logo specifics*/
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    /*font-size: 24px;*/
    font-size: 3vw;
    line-height: 20px;
    font-family: 'BacktoBlack', Back_to_black;
}

/*the color of the squares in the navbar items*/
.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background: transparent; /*rgba(94, 84, 100, .5);*/
    border: 1px solid white;
    border-radius: 5px;
}

.nav>li.disabled>a:focus,
.nav>li.disabled>a:hover {
    color: #777;
    text-decoration: none;
    cursor: not-allowed;
    background-color: #5E5464
}

/*Spacing between nav buttons*/
.nav>li>a {
    position: relative;
    display: block;
    padding: 15px 20px

}

.text-primary {
    color: #fff
}

a.text-primary:focus,
a.text-primary:hover {
    color: #000
}


p {
    margin-left: 50px;
    margin-right: 200px;
    float: center;
}

.lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
    font-size: 3vw;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 200px;

}
.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
    font-weight: 100;
    line-height: 1;
    color: #777
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 100;
    line-height: 1.1;
    color: inherit
}
a {
    color: #fff;
    text-decoration: none
}

/*hover over the navbars color*/
a:focus,
a:hover {
    color: #fff;
    text-decoration: underline
}

/*positions navbar elements on right side*/
@media (min-width:768px) {
    .navbar-nav {
        float: right;
        margin: 0
    }
    .navbar-nav>li {
        float: left
    }
    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px
    }
}

/*hover oer the logo color*/
.navbar-brand:focus,
.navbar-brand:hover {
    color: #ADAD9C;
}    

.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
    max-height: 340px
}

hr {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #eee
}
.navbar {
    margin-bottom: 0px;
}

.container {
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
}


.landingshit h1{
    text-align: center;
    font-size: 3vw;
    margin-left: 125px;
    margin-right: 125px;
}

.landingshit h2{
    font-family: 'BacktoBlack', Back_to_black;
    font-size: 7vw;
    text-align: center;
    margin-left: 125px;
    margin-right: 125px;
}

.landingshit li{
    font-family: 'Roboto_Thin', Roboto-Thin;
    text-align: center;
    margin: auto;
    list-style-type: none;
    text-decoration: none;
    width: 150px;
    background: transparent; /*rgba(94, 84, 100, .5);*/
    border: 1px solid white;
    border-radius: 5px;
}


/*---------------FONTS-----------------*/
@font-face {
    font-family: Geosans_Light;
    src: url('../fonts/GeosansLight.ttf');
}

@font-face {
    font-family: Caviar_Dreams;
    src: url('../fonts/CaviarDreams.ttf');
}

@font-face {
    font-family: Roboto_Thin;
    src: url('../fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: BacktoBlack;
    src: url('../fonts/Back_to_black.ttf');
}